{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shedule</title>
    <link rel="stylesheet" href="{% static 'shedule/css/style.css' %}">
</head>
<body>


<header class="header">
    <div class="container header__container">
        <a href="#" class="logo header__logo">
            <img src="{% static 'shedule/img/logo.svg' %}" alt="logo" class="logo__img">
        </a>
        <p><time class="date-time">ВС, 21 Февр</time></p>
    </div>
</header>
<main class="main">
    <div class="container main__container">

        <div class="selects-group">
            <div class="select__wrapper">
                <select name="college_building" id="" class="selects-group__item">
                <option value="1 Корпус" class="selects-group__text">1 Корпус</option>
            </select>
            </div>
            <div class="select__wrapper">
                <select name="group_college" id="" class="selects-group__item">
                <option value="9ИС-281" class="selects-group__text">9ИС-281</option>
            </select>
            </div>
        </div>

        <div class="cards-lesson cards-lesson__wrapper">

            <div class="card__wrapper">
                <div class="card__time">
                    <time class="card__time-start">08:00</time>
                    <time class="card__time-end">09:45</time>
                </div>
                <div class="card__time-line">
                    <div class="card__circle"></div>
                    <div class="card__line"></div>
                </div>
                <div class="card__item">
                    <h3 class="card__name-lesson">Математика</h3>
                    <p class="card__name-teacher">Еровикова</p>
                </div>
            </div>

            <div class="card__wrapper">
                <div class="card__time">
                    <time class="card__time-start">10:00</time>
                    <time class="card__time-end">11:45</time>
                </div>
                <div class="card__time-line">
                    <div class="card__circle"></div>
                    <div class="card__line"></div>
                </div>
                <div class="card__item">
                    <h3 class="card__name-lesson">Математика</h3>
                    <p class="card__name-teacher">Еровикова</p>
                </div>
            </div>

            <div class="card__wrapper">
                <div class="card__time card__time--active">
                    <time class="card__time-start">12:00</time>
                    <time class="card__time-end">13:25</time>
                </div>
                <div class="card__time-line">
                    <div class="card__circle card__circle--active"></div>
                    <div class="card__line"></div>
                </div>
                <div class="card__item">
                    <h3 class="card__name-lesson">Математика</h3>
                    <p class="card__name-teacher">Еровикова</p>
                </div>
            </div>
        </div>
    </div>
</main>
{% block content %}

{% endblock content %}

</body>
</html>