@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}
img{
    width: 100%;
}
body{
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(180deg, rgba(255, 33, 33, 0.916667) 0.01%, #78056D 79.23%, #050F34 100%) no-repeat;
}


.container{
    max-width: 1410px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__container{
    display: flex;
    min-height: 140px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid black;
    margin-bottom: 55px;
}
.date-time{
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
}

.selects-group{
    display: flex;
    justify-content: end;
    margin-bottom: 130px;
}
.selects-group__item{
    background: #4F3333;
    border: 1px solid black;
    border-radius: 24px;
    width: 260px;
    height: 70px;
    padding-left: 30px;
    appearance: none;

    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: white;
}
.select__wrapper{
    position: relative;
}
.select__wrapper:not(:last-child){
    margin-right: 20px;
}
.select__wrapper::after{
    display: flex;
    align-items: center;
    top: 0;
    bottom: 0;
    overflow: hidden;
    content: url("../img/Vector 1.svg");
    color: black;
    position: absolute;
    right: 25px;
    user-select: none;
    pointer-events: none
}
.card__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 540px;
    height: 210px;
    background: linear-gradient(98.76deg, #000000 0%, #000589 100%);
    border: 2px solid #FFFFFF;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;

}
.card__name-lesson{
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: white;
}
.card__name-teacher{
    font-weight: 300;
    font-size: 40px;
    line-height: 48px;
    color: white;
}
.card__item:not(:last-child){
    margin-bottom: 140px;
}
.card__circle{
    width: 25px;
    height: 25px;
    border: 5px solid black;
    border-radius: 100%;
}
.card__line{
    height: 350px;
    width: 1px;
    border: 1px solid black;
}
.card__wrapper{
    display: flex;
}
.card__time-line{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 60px;
}
.card__time{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
}
.card__time-start{
    font-weight: 600;
    font-size: 48px;
}
.card__time-end{
    font-weight: 400;
    font-size: 36px;
}
.card__time--active{
    color: white;
}
.card__circle--active{
    border-color: white;
    background-color: black;
}



